/* BASIC STYLING */

@font-face {
    font-family: "ubuntu-light";
    src: url("../fonts/Ubuntu-Light.ttf");
}

@font-face {
    font-family: "ubuntu-bold";
    src: url("../fonts/Ubuntu-Bold.ttf");
}

@font-face {
    font-family: "ubuntu-regular";
    src: url("../fonts/Ubuntu-Regular.ttf");
}

@font-face {
    font-family: "ubuntu-medium";
    src: url("../fonts/Ubuntu-Medium.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.wrapper {
    font-family: "ubuntu-regular";
}

/* ! HEADER */

.navigation {
    text-align: center;
    padding-top: 54px;
}
nav {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-top: 76px;
    margin-bottom: 100px;
}

nav a {
    font-size: 24px;
    color: #957554;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/hero_image.png");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    padding-top: 320px;
    height: 70vh;
}

.welcome h1 {
    font-size: 80px;
    margin-bottom: 15px;
}
.welcome p {
    font-size: 24px;
    margin-bottom: 40px;
}

.btn {
    display: block;
    text-align: center;
    color: white;
    background-color: #dfaa5b;
    padding: 24px;
    border-radius: 10px;
    width: 300px;
}
/* ! MAIN */

/* *Styling der h2  */
h2 {
    font-size: 45px;
    color: #957554;
    line-height: 140px;
}

/* *section facilities  */
.facilities {
    background-color: white;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    border: 5px solid white;
    z-index: 20;
    margin-top: -10px;
}

/* displax flex  */
.icons {
    display: flex;
    justify-content: center;
    gap: 15vw;
}

.icon-box img {
    margin-b: 20px;
}

.icon-box p {
    color: #957554;
    font-size: 24px;
    line-height: 180%;
}

/* *section rooms */
/* boxen mit display:flex ausrichten */
/* inhalt der boxen auch mit display:flex und padding/ margin ausrichten */

.rooms {
    text-align: center;
    padding: 0 62px;
}

.rooms-content {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 10vw;
}

.box-row {
    display: flex;
    flex-direction: row;
    gap: 3vw;
    height: 57vh;
    /* height: 40vh; */
}
.room-box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-image: url("../img/standard_twin_room.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -5px 0px;
    flex-basis: 50%;
    border-radius: 10px;
    padding: 54px;
}
.room-box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-image: url("../img/standard_room.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -5px 0px;
    flex-basis: 50%;
    border-radius: 10px;
    padding: 54px;
}
.room-box3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-image: url("../img/standard_view_room.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -5px 0px;
    flex-basis: 50%;
    border-radius: 10px;
    padding: 54px;
}
.room-box4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-image: url("../img/deluxe_room.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -5px 0px;
    flex-basis: 50%;
    border-radius: 10px;
    padding: 54px;
}

.get-room {
    text-align: center;
}

.rooms-content p {
    font-family: "ubuntu-medium";
    color: white;
    font-size: 40px;
    line-height: 200%;
}

/* ! FOOTER */
